.list {
    list-style-type: none;
}

.list li a {
    text-decoration: none;
}

.color_url {
    color: #fff;
    line-height: 2;
}

.active {
    color: red;
    font-weight: 700;
}

.point-menu {
    font-size: 1.1rem;
}
